/* Variables */
:root {
  --linear-background: linear-gradient(to left, #439775, #053b06);
}

/* Base Styles */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Karla', Arial, Helvetica, sans-serif;
}

/* Content Container Styles */
.container {
  max-width: 800px;
  margin: 36px auto 0;
}

@media (max-width: 768px) {
  .container {
    width: 90%;
  }
}
